APP_NAME="MaFe Kids ERP"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mafekids
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=sua_chave_secreta_jwt_aqui

FIREBASE_PROJECT_ID=seu_firebase_project_id
